.reset-form{
    font-family: roboto;
    width: 500px;
    margin: 60px auto;
}
.reset-form form {
    margin-bottom: 15px;
    padding: 30px;
}
.reset-form h2 {
    margin: 0 0 15px;
}
.btn {        
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background-color: #36D1DC;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
}