<div class="reset-form card shadow mb-4">
  <div class="card-body">
    <div class="text-center">
      <h2>Restablecer la contraseña</h2>
      <small>Introduzca su dirección de correo electrónico para restablecer la contraseña</small>
      <hr>
    </div>
    <div class="no-gutters justify-content-center">
      <form class="col">
        <div class="form-group">
          <label for="reset-email">Correo electrónico</label>
          <input class="form-control form-control-lg" type="email" name="email" id="reset-email" required />
          <br>
          <button type="submit" class="btn btn-info btn-block btn-lg">Restablecer contraseña</button>
        </div>
      </form>
    </div>
  </div>
</div>