.row{
    display: block;
}
#error{
    text-align: center!important;
    font-family: 'Rubik', sans-serif;
    margin: auto;
}
h1{
    font-size: 9rem;
    color: #262626;
    line-height: 2;
}
h2{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #8D8D8D;
}  
header.masthead {
    position: relative;
    background-color: #FFFFFF;
    background-size: cover;
    padding-bottom: 9.3rem;
}